<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Visa benefits</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script
		src="https://cdn.tiny.cloud/1/aak4i3z1lof0t7jlnsvox9esmg91o7kp0ly8ka6r7bcbdsxo/tinymce/6/tinymce.min.js"
		referrerpolicy="origin"
	></script>
	<link
		rel="stylesheet"
		href="/static/stylesheets/styles.css"
		type="text/css"
	/>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
		rel="stylesheet"
	/>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
		rel="stylesheet"
	/>
</head>
<body>
	<div class="main">
		<div class="main-wrapper">
			<div class="content-wrapper">
				<div class="title">
					<h1>The list of VISA benefits::</h1>
				</div>
				<div class="add-bar">
					<form method="POST" action="/add/task">
						<h2>Add a benefit below</h2>
						<input
							type="text"
							id="inputTitle"
							placeholder="Title"
							name="title"
						/>
						<textarea
							id="inputContent"
							placeholder="Content"
							name="content"
						></textarea>
						<button type="submit" class="addBtn">Add</button>
					</form>
				</div>
				<div class="list">
					<div class="sub-list">
						<div class="item-container">
							<% visaTask.forEach(tasks => { %>
							<details class="item-style">
								<summary class=""><%= tasks.title %></summary>
								<p class="p-style"><%- tasks.content %></p>
							</details>
							<a class="delete_task" href="delete/task/<%=tasks._id %>"
								>Remove</a
							>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		tinymce.init({
			selector: "textarea",
			toolbar_mode: "floating",
			tinycomments_mode: "embedded",
			tinycomments_author: "Author name",
			content_style: "body { min-height: 270px}",
			paste_as_text: true,
			statusbar: false,
			elementpath: false,
		});
	</script>
</body>
