* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: "Montserrat", Helvetica, sans-serif;
}

.main-wrapper {
	position: relative;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

.active,
.collapsible:hover {
	background-color: #90afc5;
}

.title h1 {
	font-family: "Merriweather", Times, serif;
	font-weight: 400;
	font-size: 3rem;
	margin-bottom: 2rem;
}

.add-bar {
	width: 60rem;
	float: left;
	margin-bottom: 2rem;
	display: flex;
}

#inputContent {
	width: 60rem;
	height: 15em;
	resize: both;
}

#inputTitle {
	width: 60rem;
	height: 3rem;
}

.add-bar {
	display: flex;
	flex-direction: column;
}

.contentDiv {
	font-size: 1rem;
	color: black;
	padding: 1rem;
	background-color: #eee;
}

.addBtn {
	align-items: center;
	background: #ffffff;
	border: 0 solid #e2e8f0;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	color: #1a202c;
	display: inline-flex;
	font-size: 1rem;
	font-weight: 700;
	height: 3rem;
	width: 10rem;
	justify-content: center;
	line-height: 24px;
	overflow-wrap: break-word;
	padding: 24px;
	text-decoration: none;
	margin-top: 1rem;
	border-radius: 8px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

input::placeholder {
	opacity: 40%;
}

textarea::placeholder {
	opacity: 40%;
}

input {
	padding: 1rem;
	margin: 0.5rem 0;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
}
textarea {
	padding: 1rem;
	margin: 0.5rem 0;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

input:focus {
	outline: none;
}
textarea:focus {
	outline: none;
}

.container {
	margin-top: 20px;
}
.list {
	width: 60rem;
}

details {
	border: none;
	border-radius: 1px;
	background: #ffffff;
	border: 0 solid #e2e8f0;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	color: #1a202c;
	display: inline-flex;
	width: 60rem;
	margin-bottom: 15px;
	cursor: pointer;
	padding: 15px;
	display: flex;
	flex-wrap: nowrap;
	word-wrap: break-word;
}

summary {
	font-weight: bold;
}

details[open] summary {
	border-bottom: 1px solid #aaa;
	padding-bottom: 8px;
}

.p-style {
	padding: 0 1.2em;
	width: 100%;
	padding: 10px;
	width: 100%;
}
.list {
	list-style: none;
}
